@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All your uploaded files will not be accessible to other personnel other than this class teacher. 
    And all your files will be destroyed after this current sememter.</p>
